<div class="w-full h-screen bg-grey-lightest flex flex-row">
  <textarea class="h-full w-1/2 p-4" onkeyup={{action (mut text) value="target.value"}}>{{text}}</textarea>
  <div class="h-full text-grey-dark w-1/2 p-4">
    {{html}}
  </div>
</div>
